<form action="/answer" data-turbo="false" class="form-label">
  <div class="mb-3">
    <label for="question">Ask your coach anything</label>
    <input type="text" name="question" id="question" class="form-control">
  </div>
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
